
*                    @Roozbehrm

/apps/core/          @Roozbehrm @MahyarDev01
/apps/processes/     @Roozbehrm @MahyarDev01
/config/             @Roozbehrm @MahyarDev01
/docker/ /deploy/    @Roozbehrm @MahyarDev01
/.github/            @Roozbehrm @MahyarDev01

/apps/accounts/      @MahyarDev01 @Roozbehrm
/apps/categories/    @MahyarDev01 @Roozbehrm

/apps/forms/         @ZahraRahimpour95 @Roozbehrm

/apps/reports/       @hashemiolia1385-tech @Roozbehrm

/apps/reports/consumers.py   @Roozbehrm @hashemiolia1385-tech
/apps/reports/routing.py     @Roozbehrm @hashemiolia1385-tech
/apps/api/                   @Roozbehrm @MahyarDev01
