__pycache__/
*.py[cod]
.env
.venv/
venv/
db.sqlite3
staticfiles/
media/
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
*.log
celerybeat-schedule*
.mypy_cache/
*.egg-info/
.DS_Store
/deploy/nginx/certs/*
!/deploy/nginx/certs/.gitkeep
/deploy/nginx/acme-challenge/*
!/deploy/nginx/acme-challenge/.gitkeep
